@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-slate-950);
    color: var(--color-slate-300);
    font-family: ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
